/* TODO: Start Style HTML */
* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    line-height: 1;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    position: relative;
}
/* TODO: End Style HTML */
/* TODO: Start Variables */
:root {
    --primary-color: #323232;
    --primary2-color: #2f2f2f;
    --secondary-color: #FFAC41;
    --red-color: #ff1e56;
    --darkWhite-color: #e3dfdf;
    --gray-color: #999999;
    --white-color: #ffffff;
    --link-color: #0000ff;
    --padding-left-right: 25px;
    --h1-size: 80px;
    --h2-size: 75px;
    --h3-size: 35px;
    --h4-size: 30px;
    --h5-size: 20px;
    --p-size: 18px;
    --line-height: 30px;
    --radius-input: 30px;
    --input-font-size: 17px;
    --input-text-padding: 5px;
    --button-font-size: 16px;
    --button-font-weight: 600;
}
/* TODO: End Variables */
/* TODO: Start Style Scroll Bar */
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: var(--primary-color);
}
::-webkit-scrollbar-track:hover {
    background-color: var(--primary2-color);
}
::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--red-color);
}
/* TODO: End Style Scroll Bar */
/* TODO: Start Style body */
.body {
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto auto auto;
	grid-template-areas: "header header header header header header header header header header"
	"container container container container container container container container container container"
	"footer footer footer footer footer footer footer footer footer footer";
}
/* TODO: End Style body */
/* TODO: End Style container */
.container {
    grid-area: container;
	padding-left: var(--padding-left-right);
	padding-right: var(--padding-left-right);
	margin-bottom: 50px;
}
/* TODO: End Style container */
/* TODO: Start Style All Forms */
.container .form-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
}
.container .form-pages .form-name {
    color: var(--primary2-color);
    font-size: var(--h1-size);
    font-weight: 800;
    text-align: center;
    margin-bottom: 40px;
}
.container .form-pages form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container .form-pages form .form-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}
.container .form-pages form .form-content .input-field {
    display: flex;
    flex-direction: column;
    width: calc(100% /2);
    margin: 15px 0;
}
.container .form-pages form .img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
}
.container .form-pages form .form-content .input-field label {
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.container .form-pages form .form-content .input-field input,
.container .form-pages form .form-content .input-field select,
.container .form-pages form .form-content .input-field textarea {
    font-size: var(--input-font-size);
    outline: none;
    border: none;
    padding: 12px;
    margin-left: 10px;
    border-radius: var(--radius-input);
    -webkit-border-radius: var(--radius-input);
    -moz-border-radius: var(--radius-input);
    -ms-border-radius: var(--radius-input);
    -o-border-radius: var(--radius-input);
    background-color: var(--darkWhite-color);
}
.container .form-pages form .form-content .input-field .input-notes {
    margin: 6px 0px 0px 13px;
    color: var(--red-color);
}
.container .form-pages form .form-content .input-field input,
.container .form-pages form .container .input-field textarea {
    max-width: 270px;
    min-width: auto;
}
.container .form-pages form .form-content .input-field select {
    width: 130px;
    text-align: center;
    min-width: auto;
}
.container .form-pages form .form-content .buttons {
    display: flex;
    flex-direction: column;
}
.container .form-pages form .buttons input[type="submit"],
.container .form-pages form .buttons input[type="reset"] {
    margin-bottom: 6px;
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    text-transform: uppercase;
    background-color: var(--secondary-color);
    color: #ffffff;
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: var(--radius-input);
    -webkit-border-radius: var(--radius-input);
    -moz-border-radius: var(--radius-input);
    -ms-border-radius: var(--radius-input);
    -o-border-radius: var(--radius-input);
}
.container .form-pages form .buttons input[type="submit"]:hover,
.container .form-pages form .buttons input[type="reset"]:hover {
    background-color: var(--red-color);
    cursor: pointer;
}
@media(max-width: 1230px) {
    .container .form-pages .form-name {
        font-size: 46px;
    }
    .container .form-pages form .form-content .input-field {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 15px 0;
    }
    .container .form-pages form .img {
        width: 150px;
        height: 150px;
        border-radius: 100%;
    }
}
/* TODO: End Style All Forms */
/* TODO: Start Style navbar */
.header {
	grid-area: header;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--primary2-color);
	padding: 5px var(--padding-left-right);
}
.header a {
	cursor: pointer;
}
.header .site-name {
	font-weight: 700;
	color: var(--white-color);
	font-size: 40px;
}
.header .site-name::first-letter {
	text-transform: uppercase;
	font-size: 50px;
	color: var(--secondary-color);
}
.header .navbar ul  {
    list-style: none;
}
.header .navbar ul li {
	position: relative;
	float: left;
}
.header .navbar ul li a {
	display: block;
	position: relative;
	font-size: 20px;
	padding: 20px 0 15px;
	margin: 0 20px;
	color: var(--white-color);
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
}
.header .navbar ul li a::after {
	content: '';
	position: absolute;
	width: 0;
	height: 3px;
	left: 0;
	background-color: var(--red-color);
	bottom: 0;
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
}
.header .navbar ul li a:hover:after {
	width: 100%;
}
.header .navbar ul li a:hover {
	color: var(--secondary-color);
}
.header .navbar ul li ul {
    list-style: none;
	position: absolute;
	left: 0;
	width: 200px;
	background-color: var(--primary2-color);
	display: none;
}
.header .navbar ul li ul li {
	width: 100%;
	border-top: 1px solid var(--secondary-color);
}
.header .navbar ul li ul li ul {
    list-style: none;
	left: 200px;
	top: 0;
}
.header .navbar ul li:hover > ul,
.header .navbar ul li:focus-within > ul {
	display: initial;
}
.header #menu-bar {
	display: none;
}
.header .menu-bar {
	font-size: 20px;
	color: var(--white-color);
	cursor: pointer;
	display: none;
}
@media(max-width: 1230px) {
	.header {
		padding: 5px var(--padding-left-right);
		height: 85px;
	}
	.header .menu-bar {
		display: initial;
	}
	.header .navbar {
		display: none;
		position: absolute;
		top: 85px;
		background-color: var(--primary2-color);
		border-top: 1px solid var(--secondary-color);
	}
	.header .navbar ul li {
		width: 100%;
	}
	.header .navbar ul li ul {
		position: relative;
		width: 100%;
	}
	.header .navbar ul li ul li {
		background-color: var(--primary2-color);
	}
	.header .navbar ul li ul li ul {
		width: 100%;
		left: 0;
	}
	.header #menu-bar:checked ~ .navbar {
		display: initial;
	}
}
/* TODO: End Style navbar */
/* TODO: Start Style Name Of Page Dashboard */
.container .name-of-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.container .name-of-page.name-of-table {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 30px;
}
.container .name-of-page h1 {
    text-align: center;
    font-size: var(--h1-size);
    font-weight: 900;
    color: var(--secondary-color);
}
.container .name-of-page.name-of-table h1 {
    font-size: 40px;
}
@media(max-width: 515px) {
    .container .name-of-page h1 {
        font-size: 40px;
    }
}
/* TODO: End Style Name Of Page Dashboard */
/* TODO: Start Style Box Details*/
.container .details{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 50px;
}
.container .details .box {
	background-color: var(--primary2-color);
	width: 150px;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	box-shadow: 0 2px 115px rgba(32, 32, 32, 30%);
}
.container .details .box:hover a{
	color: var(--secondary-color);
}
.container .details .box:hover {
	box-shadow: 0 2px 115px rgba(255, 30, 86, 30%);
	cursor: pointer;
}
.container .details .box a{
	color: var(--white-color);
	text-align: center;
}
.container .details .box a .box-name{
	font-size: 25px;
}
.container .details .box a .icon {
	font-size: 45px;
}
.container .details .box a .num {
font-size: 45px;
margin: 7px 0;
}
/* TODO: End Style Box Details*/
/* TODO: Start Stile Search Bar */
.container .search-bar {
	display: grid;
	justify-content: space-around;
	margin-top: 50px;
}
.container .search-bar form {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(7, 1fr);
	grid-template-areas: "icon input input input input input button";
	background-color: var(--darkWhite-color);
	padding: 3px;
	border-radius: var(--radius-input);
	-webkit-border-radius: var(--radius-input);
	-moz-border-radius: var(--radius-input);
	-ms-border-radius: var(--radius-input);
	-o-border-radius: var(--radius-input);
}
.container .search-bar form .search-icon {
	grid-area: icon;
	color: var(--secondary-color);
	padding: 0px 5px;
}
.container .search-bar form:hover .search-icon {
	color: var(--red-color);
}
.container .search-bar form input[type="search"] {
	grid-area: input;
	background-color: inherit;
	font-size: var(--input-font-size);
	padding: var(--input-text-padding);
	border: none;
	outline: none;
}
.container .search-bar form input[type="submit"] {
	grid-area: button;
	background-color: var(--secondary-color);
	color: var(--white-color);
	font-size: var(--button-font-weight);
	font-weight: var(--button-font-weight);
	padding: 10px;
	border: none;
	border-radius: inherit;
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	-ms-border-radius: inherit;
	-o-border-radius: inherit;
}
.container .search-bar form input[type="submit"]:hover {
	cursor: pointer;
	background-color: var(--red-color);
}
/* TODO: End Stile Search Bar */
/* TODO: Start Style Table */
.container .more-than-one-table {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container .table-content {
	margin-top: 50px;
    min-width: 225px;
}
.container .table-content table {
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    box-shadow: 0 2px 12px rgba(32, 32, 32, 30%);
    width: 100%;
}
.container .table-content table thead tr th,
.container .table-content table tbody tr td {
    padding: 12px 15px;
}
.container .table-content table tbody tr .max-width-text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    white-space: normal;
    overflow: auto;
    max-width: 242px;
    max-height: 150px;
    padding-left: 17px;
}
.container .table-content table thead tr th {
    background-color: var(--primary2-color);
    color: var(--darkWhite-color);
    text-transform: uppercase;
}
.container .table-content table thead tr th:first-child {
    border-radius: 12px 0 0 0;
    -webkit-border-radius: 12px 0 0 0;
    -moz-border-radius: 12px 0 0 0;
    -ms-border-radius: 12px 0 0 0;
    -o-border-radius: 12px 0 0 0;
}
.container .table-content table thead tr th:last-child {
    border-radius: 0 12px 0 0;
    -webkit-border-radius: 0 12px 0 0;
    -moz-border-radius: 0 12px 0 0;
    -ms-border-radius: 0 12px 0 0;
    -o-border-radius: 0 12px 0 0;
}
.container .table-content table tbody td img {
    width: 140px;
    height: 140px;
    border-radius: 100%;
}
.container .table-content table tr:nth-child(odd) {
    background-color: var(--darkWhite-color);
}
.container .table-content table tbody tr td .table-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.container .table-content table tbody tr td .table-btn a {
    padding: 8px 15px;;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    color: var(--white-color);
}
.container .table-content table tbody tr td .table-btn .edit-btn {
    background-color: #0b9df5;
}
.container  .table-content table tbody tr td .table-btn .edit-btn:hover {
    background-color: #0f99ee;
}
.container .table-content table tbody tr td .table-btn .accept-btn {
    background-color: #00eb56;
}
.container  .table-content table tbody tr td .table-btn .accept-btn:hover {
    background-color: #13d058;
}
.container  .table-content table tbody tr td .table-btn .del-btn {
    background-color: #fa1a1a;
    margin-left: 5px;
}
.container  .table-content table tbody tr td .table-btn .del-btn:hover {
    background-color: #e30000;
}
.container  .table-content table tbody tr td ol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
@media(max-width: 1230px) {
    .container  .table-content {
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    .container  .table-content table {
        width: 900px;
        overflow: scroll;
    }
}
/* TODO: End Style Table */
/* TODO: Start Style Footer */
.footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto 42px;
    grid-template-areas: "footer-container" "copyRight";
}
.footer .footer-container{
	grid-area: footer-container;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding-left: var(--padding-left-right);
    padding-right: var(--padding-left-right);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer .footer-container ul {
    list-style: none;
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 30px;
}
.footer .footer-container ul li {
    text-align: center;
    padding-top: 15px;
}
.footer .footer-container ul li h5 {
    font-size: var(--h5-size);
    color: var(--secondary-color);
    padding-bottom: 20px;
    font-weight: 900;
}
.footer .footer-container ul li a {
    color: var(--white-color);
}
.footer .footer-container ul li .links-footer {
	display: grid;
	gap: 20px;
	justify-items: center;
}
.footer .footer-container ul li .links-footer a{
    position: relative;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    font-size: var(--p-size);
}
.footer .footer-container ul li .links-footer a::after {
    content: '';
    width: 0;
    height: 3px;
    left: 0;
    background-color: var(--red-color);
    bottom: -5px;
    position: absolute;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
}
.footer .footer-container ul li .links-footer a:hover:after {
    width: 100%;
}
.footer .footer-container ul li .links-footer a:hover {
    color: var(--secondary-color);
}
.footer .footer-container ul li p {
    font-size: var(--p-size);
    line-height: var(--line-height);
    text-align: center;
}
.footer .footer-container ul li span {
    font-size: 45px;
    margin-right: 30px;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
}
.footer .footer-container ul li span a:hover {
    color: var(--red-color);
}
.footer .copy-right {
	grid-area: copyRight;
    height: fit-content;
    padding: 12px var(--padding-left-right);
    color: var(--white-color);
    background-color: var(--primary2-color);
    font-size: var(--p-size);
    text-align: center;
}
/* TODO: End Style Footer */
/* TODO: Start Style Loader */
.Loader {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 50vh;
}
.Loader .ring {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
    -webkit-animation: ring 2s linear infinite;
}
@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #FFAC41;
    }
    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #ff8041;
    }
    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #ff1e56;
    }
}
.Loader .ring:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px var(--darkWhite-color);
}
.Loader span {
    color: var(--primary2-color);
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/* TODO: End Style Loader */
/* TODO: Start Style Three Dots */
.coming-soon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
}
.coming-soon p {
    color: var(--primary-color);
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    margin: 15px;
    text-shadow: 10px 10px 9px var(--secondary-color);
}
.coming-soon .three-dot {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 160px;
    height: 100px;
}
.coming-soon .three-dot span {
    display: block;
    background-color: var(--primary2-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 10px 10px 9px var(--secondary-color);
}
.coming-soon .three-dot .dot-one {
    animation-name: up-to-down;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: -1.4s;
}
.coming-soon .three-dot .dot-two {
    animation-name: up-to-down;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: -1.7s;
}
.coming-soon .three-dot .dot-three {
    animation-name: up-to-down;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: -2s;
}
@keyframes up-to-down {
    0% {
        transform: translateY(30px);
    }
    25% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(30px);
    }
    75% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(30px);
    }
}
/* TODO: End Style Three Dots */
/* TODO: Start Style Message Page */
.messages-in-back {
    margin-left: 15px;
    position: absolute;
}
.items-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    height: 60px;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    animation-name: up-and-down;
    animation-duration: 2s;
}
@keyframes up-and-down {
        from {
            opacity: 0;
            transform: translateY(-71px);
            -webkit-transform: translateY(-71px);
            -moz-transform: translateY(-71px);
            -ms-transform: translateY(-71px);
            -o-transform: translateY(-71px);
    }
        to {
            opacity: 1;
    }
}
.items-message .icon-mass,
.items-message .icon-mess-2 {
    width: 55px;
    padding: 15px 0px;
    font-size: 35px;
    text-align: center;
}
.items-message .icon-mess-2:hover {
    cursor: pointer;
}
.items-message .message {
    padding: 0 15px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
.m1, .m1 .message {
    background-color: #75c4f3;
    color: #0000c9;
}
.m1 .icon-mass,
.m1 .icon-mess-2 {
    background-color: #0b9df5;
    color: #0000c9;
}
.m2, .m2 .message {
    background-color: #81e6ad;
    color: green;
}
.m2 .icon-mass,
.m2 .icon-mess-2 {
    background-color: #25c669;
    color: green;
}
.m3, .m3 .message {
    background-color: #ffe061;
    color: #a66600;
}
.m3 .icon-mass,
.m3 .icon-mess-2{
    background-color: #ffae2c;
    color: #a66600;
}
.m4, .m4 .message {
    background-color: #ff5f4c;
    color: #5e0000;
}
.m4 .icon-mass,
.m4 .icon-mess-2 {
    background-color: #eb1600;
    color: #5e0000;
}
/* TODO: End Style Message Page */