
/* TODO: Start Style Name Of Pages */
.container .name-of-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 30px;
}
.container .name-of-page h1 {
    text-align: center;
    font-size: var(--h1-size);
    font-weight: 900;
    color: var(--secondary-color);
}
@media(max-width: 600px) {
    .container .name-of-page h1 {
        font-size: 30px;
    }
}
/* TODO: End Style Name Of Pages */
/* TODO: Start Style Cards Of Categories */
/* http://localhost/freelance/browseJobs.php */
.body .container .Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 var(--padding-left-right);
    margin: 35px;
}
.body .container .Cards .link-card {
    width: 160px;
    height: 220px;
    margin: 40px;
    border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	box-shadow: 0 2px 115px rgba(32, 32, 32, 30%);
}
.body .container .Cards .link-card:hover {
	box-shadow: 0 2px 115px rgba(255, 30, 86, 30%);
}
.body .container .Cards .Card .card-img .img {
    width: 160px;
    height: 160px;
    border-radius: 12px 12px 0 0;
    -webkit-border-radius: 12px 12px 0 0;
    -moz-border-radius: 12px 12px 0 0;
    -ms-border-radius: 12px 12px 0 0;
    -o-border-radius: 12px 12px 0 0;
    border-bottom: 1px solid var(--gray-color);
}
.body .container .Cards .Card .card-name .name {
    text-align: center;
    color: #000000;
    font-size: var(--p-size);
    font-weight: 700;
    margin-top: 10px;
}
/* TODO: End Style Cards Of Categories */
/* TODO: Start Style Cards Of Jobs */
/* http://localhost/freelance/allJobs.php */
.body .container .section-job {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: var(--darkWhite-color);
    margin: 22px;
    padding: 0 var(--padding-left-right);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.body .container .section-job .section-one {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.body .container .section-job .section-one .section-title .title {
    font-size: 35px;
    font-weight: 600;
    color: var(--primary2-color);
}
.body .container .section-job .section-one .section-title .title::first-letter {
    font-size: 60px;
    font-weight: 700;
    color: var(--secondary-color);
}
.body .container .section-job .section-one .section-date .date {
    font-size: 17px;
    opacity: 0.8;
}
.body .container .section-job .section-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 10px 10px;
}
.body .container .section-job .section-two .section-salary .salary {
    font-size: 20px;
}
.body .container .section-job .section-two .section-publisher .publisher {
    font-size: 20px;
}
.body .container .section-job .section-one .section-date .date span,
.body .container .section-job .section-two .section-salary .salary span,
.body .container .section-job .section-two .section-publisher .publisher span,
.body .container .section-job .section-three .section-description .description span,
.body .container .section-job .section-four .section-skills span {
    font-size: 23px;
    font-weight: 500;
    color: var(--red-color);
}
.body .container .section-job .section-three {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 10px 10px;
}
.body .container .section-job .section-three .section-description .description {
    font-size: 18px;
    line-height: 25px;
}
.body .container .section-job .section-four {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 10px 10px 10px;
}
.body .container .section-job .section-four .section-skills ol {
    padding-top: 10px;
    padding-left: 30px;
    font-size: 18px;
}
.body .container .section-job .section-four .section-skills ol li {
    padding-top: 3px;
}
.body .container .section-job .section-five {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px 10px 10px;
}
.body .container .section-job .section-five .button-apply {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--link-color);
    padding: 10px;
    height: 35px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.body .container .section-job .section-five .button-apply.disabled {
    opacity: 0.6;
}
.body .container .section-job .section-five .button-apply.disabled:hover {
    cursor: auto;
    background-color: var(--link-color);
    opacity: 0.6;
}
.body .container .section-job .section-five .button-apply:hover {
    cursor: pointer;
    background-color: #0000c9;
}
.body .container .section-job .section-five .button-apply a {
    color: var(--white-color);
    text-align: center;
}
@media(max-width: 400px) {
    .body .container .section-job .section-two .section-salary .salary span,
    .body .container .section-job .section-one .section-date .date span,
    .body .container .section-job .section-three .section-description .description span,
    .body .container .section-job .section-four .section-skills span {
        font-size: 18px;
    }
    .body .container .section-job .section-one .section-title .title {
        font-size: 25px;
    }
    .body .container .section-job .section-one .section-title .title::first-letter {
        font-size: 30px;
    }
}
/* TODO: End Style Cards Of Jobs */
/* TODO: Start Change Style Form Apply For Job */
.container .form-pages form .form-content .input-field.userSkills {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 15px 0;
}
.container .form-pages form .form-content .input-field textarea {
    height: 300px;
}
@media(max-width: 1200px) {
    .container .form-pages form .form-content .input-field.userSkills {
        width: auto;
    }
}
/* TODO: End Change Style Form Apply For Job */
/* TODO: Start Stile Search Bar */
.container .search-bar {
	display: grid;
	justify-content: space-around;
	margin-top: 20px;
}
.container .search-bar form {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(7, 1fr);
	grid-template-areas: "icon input input input input input button";
	background-color: var(--darkWhite-color);
	padding: 3px;
	border-radius: var(--radius-input);
	-webkit-border-radius: var(--radius-input);
	-moz-border-radius: var(--radius-input);
	-ms-border-radius: var(--radius-input);
	-o-border-radius: var(--radius-input);
}
.container .search-bar form .search-icon {
	grid-area: icon;
	color: var(--secondary-color);
	padding: 0px 5px;
}
.container .search-bar form:hover .search-icon {
	color: var(--red-color);
}
.container .search-bar form input[type="search"] {
	grid-area: input;
	background-color: inherit;
	font-size: var(--input-font-size);
	padding: var(--input-text-padding);
	border: none;
	outline: none;
}
.container .search-bar form input[type="submit"] {
	grid-area: button;
	background-color: var(--secondary-color);
	color: var(--white-color);
	font-size: var(--button-font-weight);
	font-weight: var(--button-font-weight);
	padding: 10px;
	border: none;
	border-radius: inherit;
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	-ms-border-radius: inherit;
	-o-border-radius: inherit;
}
.container .search-bar form input[type="submit"]:hover {
	cursor: pointer;
	background-color: var(--red-color);
}
/* TODO: End Stile Search Bar */
/* TODO: Start Style All Forms */
.container .form-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
}
.container .form-pages .form-name {
    color: var(--primary2-color);
    font-size: var(--h1-size);
    font-weight: 800;
    text-align: center;
    margin-bottom: 40px;
}
.container .form-pages form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container .form-pages form .form-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}
.container .form-pages form .form-content .input-field {
    display: flex;
    flex-direction: column;
    width: calc(100% /2);
    margin: 15px 0;
}
.container .form-pages form .img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
}
.container .form-pages form .form-content .input-field label {
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.container .form-pages form .form-content .input-field input,
.container .form-pages form .form-content .input-field select,
.container .form-pages form .form-content .input-field textarea {
    font-size: var(--input-font-size);
    outline: none;
    border: none;
    padding: 12px;
    margin-left: 10px;
    border-radius: var(--radius-input);
    -webkit-border-radius: var(--radius-input);
    -moz-border-radius: var(--radius-input);
    -ms-border-radius: var(--radius-input);
    -o-border-radius: var(--radius-input);
    background-color: var(--darkWhite-color);
}
.container .form-pages form .form-content .input-field .input-notes {
    margin: 6px 0px 0px 13px;
    color: var(--red-color);
}
.container .form-pages form .form-content .input-field input,
.container .form-pages form .container .input-field textarea {
    max-width: 270px;
    min-width: auto;
}
.container .form-pages form .form-content .input-field select {
    width: 130px;
    text-align: center;
    min-width: auto;
}
.container .form-pages form .form-content .buttons {
    display: flex;
    flex-direction: column;
}
.container .form-pages form .buttons input[type="submit"],
.container .form-pages form .buttons input[type="reset"] {
    margin-bottom: 6px;
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    text-transform: uppercase;
    background-color: var(--secondary-color);
    color: #ffffff;
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: var(--radius-input);
    -webkit-border-radius: var(--radius-input);
    -moz-border-radius: var(--radius-input);
    -ms-border-radius: var(--radius-input);
    -o-border-radius: var(--radius-input);
}
.container .form-pages form .buttons input[type="submit"]:hover,
.container .form-pages form .buttons input[type="reset"]:hover {
    background-color: var(--red-color);
    cursor: pointer;
}
.container .form-pages form .buttons .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.container .form-pages form .buttons .btn a {
    padding: 8px 15px;;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    color: var(--white-color);
}
.container .form-pages form .buttons .del-btn {
    background-color: #fa1a1a;
    margin-left: 5px;
}
.container .form-pages form .buttons .del-btn:hover {
    background-color: #e30000;
}
@media(max-width: 1230px) {
    .container .form-pages .form-name {
        font-size: 46px;
    }
    .container .form-pages form .form-content .input-field {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 15px 0;
    }
    .container .form-pages form .img {
        width: 150px;
        height: 150px;
        border-radius: 100%;
    }
    .container .contactUs-section {
        grid-area: contactUs;
        padding-left: 8px;
        padding-right: 8px;
    }
}
/* TODO: End Style All Forms */

/* TODO: Start Style Page My Profile */
.body .container .profile-container {
    height: auto;
    background-color: var(--white-color);
}
.body .container .profile-container .profile-items {
    max-width: 550px;
    padding: 20px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 30%);
}
.body .container .profile-container .profile-items h1 {
    font-size: 75px;
    font-weight: 900;
    color: var(--secondary-color);
}
.body .container .profile-container .profile-items form .delete-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}
.body .container .profile-container .profile-items form .delete-btn:hover {
    background-color: rgb(203, 0, 0);
}
@media(max-width: 700px) {
    .body .container .profile-container .profile-items h1{
        font-size: 60px;
    }
}
/* TODO: End Style Page My Profile */